#http://www.reactivated.net/writing_udev_rules.html

#sudo cp 99-chin.rules /etc/udev/rules.d/
#sudo udevadm control --reload-rules
#sudo udevadm trigger

KERNEL=="ttyUSB*", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7523",MODE:="0777", SYMLINK="robotIMU"
KERNEL=="ttyACM*", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="374b",ATTRS{serial}=="0670FF323831524157151123", MODE:="0777", SYMLINK="robotArmR"
KERNEL=="ttyACM*", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="374b",ATTRS{serial}=="066DFF323831524157184913", MODE:="0777", SYMLINK="robotArmL"
